.fooder{
    box-sizing: border-box;
    margin-top: 2rem;
    background: #28213a;
    width: 85vw;
    max-width: 1350px;
    padding: 0 1rem;
}

.containerFooder{
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

@media screen and (max-width: 900px){
    
}
@media screen and (max-width:600px){
    .containerFooder{
        max-width: 90vw;
    }
}