.fooder{
    background: #392b5a;
    position: absolute;
    bottom: auto;
    left: 0;
    width: 100%;
}

.containerFooder{
    width: 85vw;
    max-width: 1350px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1rem 0;
}

@media screen and (max-width:600px){
    .containerFooder{
        max-width: 90vw;
    }
}