
.section_skills{
    max-width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.section_skills .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1rem;
    user-select: none;
    overflow: hidden;
}
.section_skills .container .card{
    padding: 1rem 3rem;
    transition: .5s;
    width: 100%;
    overflow: hidden;
    user-select: none;

}



/* .section_skills .container .card:hover{
    border-color: var(--white);
    cursor: default;
} */

.section_skills .container .card .title{
    text-align: center;
    margin-bottom: 2rem;
    /* color: #494d4b; */
}

.container .card .content-skills{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    flex-shrink: 0;
    animation: scroll-x 40s linear infinite;
}
@media (prefers-reduced-motion: reduce) {
    .container .card .content-skills {
      animation-play-state: paused;
    }
  }

  .container .card .content-skills.reverse{
    animation-direction: reverse;
  }

  @keyframes scroll-x {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc((-250px - 1rem)*6));
    }
  }
 
.content-skills .skill{
    min-width: 250px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #2f2842;
    border: 2px solid #4717f6;
    color: #e7dfdd;
    border-radius: 8px;
    transition: .2s;
}
.content-skills .skill:hover{
    background: #4717f6;
    border: 2px solid #e7dfdd;
    box-shadow: 0 0 8px 0 #4717f6 inset, 0 0 8px 3px #4717f6;
    
}
.content-skills .skill h4{
    margin-bottom: .1rem;
}

@media screen and (max-width:600px){
    .section_skills{
        max-width: 90vw;
    }
    .section_skills .container .card{
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .container .card .content-skills{
        gap: 2rem 1rem;
    }
}