.section_skills{
    max-width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.section_skills .container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 3rem;;
    margin-top: 1rem;
}
.section_skills .container .card{
    background-color: #28213a;
    padding: 2.4rem 3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: .5s;
}

.section_skills .container .card:hover{
    background-color: transparent;
    border-color: var(--white);
    cursor: default;
}

.section_skills .container .card .title{
    text-align: center;
    margin-bottom: 2rem;
    /* color: #494d4b; */
}

.container .card .content-skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.content-skills .skill{
    padding: 1rem;
    background: #2f2842;
    border: 2px solid #4717f6;
    color: #e7dfdd;
    border-radius: 8px;

    transition: .2s;
}
.content-skills .skill:hover{
    background: #4717f6;
    border: 2px solid #e7dfdd;
    
}
.content-skills .skill h4{
    margin-bottom: .1rem;
}

@media screen and (max-width:900px){
    .section_skills .container{
        grid-template-columns: 1fr;

    }
    
}
@media screen and (max-width:600px){
    .section_skills{
        max-width: 90vw;
    }
    .section_skills .container .card{
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .container .card .content-skills{
        gap: 2rem 1rem;
    }
}