.contact{
    margin-top: 3rem;
    padding-bottom: 3rem;
    position: relative;
}
.containerContact{
    width: 70%;
    display: grid;
    grid-template-columns: 40% 50%;
    margin: 0 auto;
    gap: 10%;
    margin-top: 1rem;
}

.containerContact .contact_options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact_options .contact_option{
    background-color: #28213a;
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: .7s;
}
.contact_options .contact_option:hover{
    background-color: transparent;
    box-shadow: 0 0 8px 0 #e7dfdd inset, 0 0 8px 3px #e7dfdd;
}
.contact_icon{
    font-size: 2rem;
}

.contact_options .contact_option h4{
    margin-bottom: 0;
}
.contact_options .contact_option h5{
    margin-top: 0;
}

.contact_options .contact_option a{
    display: inline-block;
    margin-top: 0.7rem;
    font-size: 0.8rem;
    text-decoration: none;
    color: #4717f6;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}



input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid #e7dfdd;
    resize: none;
    color: #e7dfdd;
}

form button{
    padding: 0.8rem;
    background-color: #a239ca;
    border-radius: .8rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: #e7dfdd;
    border: 1px solid #4717f6;
    width: 120px;
    opacity: .75;
    transition: .7s;
}
form button:hover{
    box-shadow: 0 0 8px 0 #e7dfdd inset, 0 0 8px 3px #e7dfdd;
    opacity: 1;
    cursor: pointer;
}

.message_err_campus{
    display: none;
}

.message_err_campus.active{
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    background: rgb(221, 39, 15);
    color: #28213a;
    border: #28213a solid 2px;
    border-radius: 5px;
    translate: -50%;
}
.message_err_campus.active::before{
    content: "";
    position: absolute;
    height: 5px;
    left: 0;
    bottom: 0;
    background-color: rgba(117, 31, 20, 0.404);
    animation: progress 4s
  }
  @keyframes progress{
    0% { width: 0% } 
    100% { width: 100%}
}
.message_success{
    display: none;
}

.message_success.active{
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    background: #06d328;
    color: #28213a;
    border: #28213a solid 2px;
    border-radius: 5px;
    translate: -50%;
}
.message_success.active::before{
    content: "";
    position: absolute;
    height: 5px;
    left: 0;
    bottom: 0;
    background-color: #2b4e30c9;
    animation: progress 4s
  }
.success{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    position: relative;
}

.aviso{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    position: relative;
}

@media screen and (max-width:1024px){
    .containerContact{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    
}
@media screen and (max-width:600px){
    .containerContact{
        width: 90vw;
    }

}

