.main{
    max-width: 1350px;
    width: 85vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6.4rem;
}
.main .text{
    width: 60%;
    text-align: justify;
}

.main .text .tagline{
    margin: 0;
    padding: 0;
}

.main .text h1{
    margin: 0;
}

.main .text .decription{
    margin: 0;
}

.main .image{
    width: 49%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:1024px){
    .main{
        flex-direction: column;
    }
    .main .text{
        width: 100%;
        margin-bottom: 3rem;
    }
    .main .image{
        width: 100%;
    }
}
@media screen and (max-width:600px){
    .main{
        width: 90vw;
    }
    .main .image img{
        width: 100%;
    }
}
