
root{
    --black: #0e0b16;
    --violeta: #a239ca;
    --blue: #4717f6;
    --white: #e7dfdd;
    --cards: #28213a;
}
html{
    background-color: #0e0b16;
    color: #e7dfdd;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: linear-gradient(100deg,#07010e,#2c0757,#999bdd);
    background-size: 180% 180%;
    animation: gradient-animation 9s ease infinite;

}
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
#root{
    width: 85vw;
    max-width: 1350px;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

@media screen and (max-width:600px){
    body{
        width: 90vw;
    }
}
